PANEL_URL=http://185.248.33.53
PTERODACTYL_API_KEY=ptla_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DASHBOARD_PASSWORD=choisis-un-mot-de-passe-fort
SESSION_SECRET=une-chaine-aleatoire-longue
NODE_ENV=production
